body{
font-family:Arial;
margin:0;
background:#f0f4ff;
}

header{
background:linear-gradient(90deg,#4facfe,#00f2fe);
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.catalogo{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.producto{
background:white;
padding:15px;
border-radius:12px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
text-align:center;
}

.producto img{
width:100%;
border-radius:10px;
}

button{
background:#4facfe;
border:none;
color:white;
padding:10px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#00c6ff;
}

.carrito,
.pago,
.reseñas{
background:white;
margin:20px;
padding:20px;
border-radius:12px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}
